.title-bar{
    background-color: #fad428;
    padding: 1rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 5px;
}

body{
    background-color: #f0e478;
}

.recipe-list ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.recipe-list li{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.1);
}

.recipe-list a{
    text-decoration: none;
    color: #ffc917;
    font-size: 1.25rem;
    font-weight: bold;
    /* display: block; */
}

.recipe-list img {
    width: auto; /* Adjust as needed */
    height: 100px;
    border-radius: 4px;
    object-fit: cover;
    margin-left: 1rem;
}

*{
    /* outline: 2px solid red; */
}